
{%  extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="https://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        var data = {{ main_world.data | jsonify }};
        var countries = {{ main_world.countries | jsonify }};
        var world = {{ main_world.all | jsonify }};
    </script>
    <script src="{% static 'lib/highcharts/highcharts.src.js' %}" type="text/javascript" ></script>
    <script src="{% static 'lib/highcharts/map.src.js' %}" type="text/javascript" ></script>
    <script src="{% static 'lib/highcharts/maps/world.js' %}" type="text/javascript" ></script>
    <script src="{% static 'js/main.js' %}" type="text/javascript" ></script>
{% endblock %}

{% block content %}
    <div id="wrapper-main-world" class="row">
        <div id="main-world" class="col s12 m7"></div>
        <div id="country-info" class="col s12 m5">
            <span class="f32"><span id="flag"></span></span>
            <h2></h2>
            <div class="subheader">Click countries to view history</div>
            <div id="country-chart"></div>
        </div>
    </div>

    <div class="divider" style="margin: 30px 10px 30px 10px"></div>

    <div id="wrapper-bar-chart" class="row">
        <div id="bar-chart" class="col s12 m6">

        </div>
    </div>
{% endblock %}