
{%  extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/main.js' %}" type="text/javascript" ></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m4">
            <div class="row">
                <div class="col s12">
                    <blockquote style="border-color: #ff5722">
                        Zika virus is an emerging mosquito-borne virus that was first identified in Uganda in 1947, in rhesus monkeys, through a monitoring network of jungle yellow fever
                    </blockquote>
                </div>
                <div class="col s12">
                    <blockquote style="border-color: #ff9800">
                        Dengue is a mosquito-borne viral disease that has spread rapidly in all WHO regions in recent years. The dengue virus is transmitted by female mosquitoes mainly Aedes aegypti species and, to a lesser extent, A. albopictus.
                    </blockquote>
                </div>
                <div class="col s12">
                    <blockquote style="border-color: #ffc107">
                        Chikungunya fever is a viral disease transmitted to humans by mosquitoes. It was first described during an outbreak in southern Tanzania in 1952.
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="col s12 m8">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col s4 ">
                            <div class="card-panel deep-orange">

                            </div>
                        </div>
                        <div class="col s4 ">
                            <div class="card-panel orange">

                            </div>
                        </div>
                        <div class="col s4 ">
                            <div class="card-panel amber">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="card-panel grey center-align">
                                <h5 class="text-white">All Sicks</h5>
                                <div class="card-action" style="margin-bottom: 55px; font-size: 18px">
                                    <a href="#" class="col s6 center-align" style="background: rgba(255,255,255,0.2); padding: 15px">Este es un enlace</a>
                                    <a href="#" class="col s6 center-align">Este es un enlace</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}